@import "variable";
@import "mixin";

// common
* {
    font-family: $my-font;
    box-sizing: border-box;
}

// main section
.container {
    @include border-module(1px, $border-color, 10px);
    background-color: $gray-color;
    max-width: 1060px;
    margin: 90px auto;
    padding: 41px 28px 31px;
    .container-title {
        @include font-module(24px, 700, 28px);
        text-align: center;
        margin-bottom: 37px;
    }
    .nav-list {
        display: flex;
        justify-content: center;
        column-gap: 60px;
        border-top: 1px solid $border-color;
        max-width: 650px;
        margin: 0 auto;
        padding: 28px 0;
        .nav-link {
            @include font-module(16px, 900, 19px, $gray-font);
        }
        .on .nav-link {
            color: black;
        }
    }
    .item-list {
        @include border-module(1px, $border-color, 10px);
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        background-color: #fff;
        padding: 25px;
        .item {
            @include border-module(1px, $border-color, 10px);
            width: 220px;
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
            .item-link {
                display: block;
                margin: 20px 20px 0;
                .item-image {
                    max-width: 180px;
                    max-height: 250px;
                    border-radius: 10px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    margin-bottom: 12px;
                }
                .item-title {
                    @include sl-ellipsis();
                    @include font-module(16px, 900, 23px);
                    display: block;
                    margin-bottom: 12px;
                }
            }
            .item-info {
                margin: 0 20px 18px;
                div {
                    display: inline-block;
                    margin-bottom: 5px;
                    dt, dd {
                        @include font-module(13px, normal, 19px);
                        display: inline-block;
                    }
                    dt {
                        color: $gray-font;
                        margin-right: 4px;
                    }
                    &:last-child dd {
                        @include sl-ellipsis();
                        width: 140px;
                    }
                }
                .icon-star {
                    float: right;
                    dt::after {
                        display: inline-block;
                        content: "";
                        background-image: url(../images/star_logo.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 14px;
                        height: 14px;
                        margin-left: 5px;
                        vertical-align: -1px;
                    }
                }
            }
            a[class^=btn] {
                @include font-module(14px, 500, 20px);
                display: inline-block;
                text-align: center;
                width: 50%;
                height: 41px;
                line-height: 41px;
                background-color: $gray-color;
                border-top: 1px solid $border-color;
            }
            .btn-reserve {
                border-bottom-left-radius: 10px;
                &::after {
                    float: right;
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: $border-color;
                }
            }
            .btn-teaser {
                border-bottom-right-radius: 10px;
                &::before {
                    display: inline-block;
                    content: "";
                    background-image: url(../images/play_icon.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                    margin-right: 2px;
                    vertical-align: -2px;
                }
            }
        }
    }
}

// footer
footer {
    background-color: $gray-color;
    .footer-container {
        position: relative;
        overflow: hidden;
        width: 1189px;
        margin: 0 auto;
        .company-title {
            @include font-module(22px, bold, 26px);
            display: block;
            padding-top: 50px;
            &::after {
                display: block;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $border-color;
                margin: 40px 0;
            }
        }
        .company-info {
            float: left;
            margin-bottom: 38px;
            dt {
                @include font-module(14px, 700, 20px);
                margin-right: 5px;
                float: left;
            }
            dd {
                @include font-module(14px, 500, 20px);
                float: left;
            }
            dd::after {
                display: inline-block;
                content: "";
                height: 21px;
                width: 1px;
                background-color: $border-color;
                vertical-align: -5px;
                margin: 0 10px;
            }
            dd:last-child::after {
                display: none;
            }
        }
        .sns-list {
            position: absolute;
            top: 56px;
            right: 0;
            display: flex;
            gap: 25px;
            [class^="icon"] {
                display: inline-block;
                content: "";
                width: 20px;
                height: 20px;
                font-size: 1px;
                text-indent: -9999px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .icon-twitter {
                background-image: url(../images/twitter.png);
            }
            .icon-insta {
                background-image: url(../images/instagram.png);
            }
            .icon-facebook {
                background-image: url(../images/facebook.png);
            }
        }
        .copy-right {
            @include font-module(14px, 700, 20px);
            float: right;
            margin-bottom: 38px;
        }
    }
}