/* common */
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
img {
    vertical-align: top;
}

/* container */
.container {
    width: 1060px;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    margin: 100px auto;
    padding: 0 30px 30px;
}

.main-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 38px 0;
}

.status-wrap {
    width: 650px;
    border-top: 1px solid #bdbdbd;
    margin: 0 auto;
    padding: 28px 0;
    display: flex;
    justify-content: center;
}

.status-wrap .link-movie {
    margin: 0 30px;
    color: #828282;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
}

.status-wrap .on .link-movie {
    color: #000;
}

/* movie list */
.container-movie {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    padding: 26px;
}

.container-movie .movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

/* movie item */
.container-movie .movie-list .movie-item {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    padding-top: 20px;
}

.movie-item .movie-poster {
    display: inline-block;
    width: 180px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
    margin: 0 20px 11px;
}

.movie-item .movie-title a {
    display: block;
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: black;
    margin: 0 20px 12px;
}

.movie-item div {
    display: inline-block;
}

.movie-item .list-info {
    margin: 0 20px 18px;
}

.movie-item .list-info dt,
.movie-item .list-info dd {
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: black;
}

.movie-item .list-info dt {
    color: #828282;
}

.movie-item .list-info .item-star {
    float: right;
}

.movie-item .list-info .item-star dt::after {
    display: inline-block;
    content: "";
    background-image: url(../images/star_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    margin-left: 5px;
}

.movie-item {
    overflow: hidden;
}

.movie-item [class^="link"] {
    background-color: #f2f2f2;
    display: inline-block;
    width: 50%;
    height: 41px;
    font-weight: 500;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
    color: #000;
    border-top: 1px solid #bdbdbd;
}

.movie-item .link-ticketing::after {
    float: right;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #bdbdbd;
}

.movie-item .link-teaser::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    margin-right: 2px;
    background-image: url(../images/play_icon.png);
    background-size: contain;
}

/* footer */
.container-company {
    background-color: #f2f2f2;
    width: 100%;
}

.container-company .company-info {
    position: relative;
    overflow: hidden;
    width: 1189px;
    margin: 0 auto;
    height: 213px;
}

.container-company .company-info .company-title {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding: 42px 0 53px;
    border-bottom: 1px solid #bdbdbd;
}

.container-company .company-info .info-list {
    margin: 37px 0;
}

.company-info .info-list dt,
.company-info .info-list dd {
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #4f4f4f;
    margin-right: 5px;
}

.company-info .info-list dt {
    font-weight: bold;
}

.company-info .info-list dd::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background-color: #bdbdbd;
    margin: 0 10px;
}

.company-info .info-list dd:last-child::after {
    display: none;
}

.company-info .sns-wrap {
    position: absolute;
    top: 50px;
    right: 0;
}

.company-info .sns-wrap li {
    float: left;
    margin-left: 22px;
}

.company-info .sns-wrap a[class^="icon"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 1;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.company-info .sns-wrap .icon-twitter {
    background-image: url(../images/twitter.png);
}

.company-info .sns-wrap .icon-instagram {
    background-image: url(../images/instagram.png);
}

.company-info .sns-wrap .icon-facebook {
    background-image: url(../images/facebook.png);
}

.company-info .license {
    float: right;
}